.friends_list {
  width: 360px;
  height: 480px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  margin: 20px;
  padding-left: 10px;
  border-radius: 1px;
}
.statusOnline,
.statusOffline {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  margin: 0 10px 0 10px;
}

.statusOffline {
  background-color: red;
}
.avatar {
  margin: 10px;
}

.name {
  font-size: 18px;
  font-weight: 700;
}
